*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    font-family: cursive;

}
.container{
    background-color: lightpink;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box; /* khi mà padding làm cho khung bị ra ngoài khỏi box thì sử dụng 
    thuộc tính box-sizing bằng border-box để đưa khung chat quay trở lại vào trong box */
    border: 2px solid darkgray;

}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

}
.total-counter{
    color: slateblue;
}

.remaining-counter{
    color: orangered;
}